section>ol>li {
	display: grid;
	grid-template-columns: 5em auto auto;
	grid-template-rows: auto auto;
	grid-column: span 2;
	margin-top: 1em;
	line-height: 1.5em;
}

section>ol>li>*:nth-child(4) {
	grid-column: 2;
	font-style: italic;
}

section>ol>li>*:nth-child(3) {
	text-align: right;
	grid-row-start: 1;
	grid-row-end: -1;
	grid-column: 3;
}

@media screen and (max-width: 600px) {
	section>ol>li>*:nth-child(3) {
		grid-column: 2;
		grid-row: 2;
		text-align: left;
	}
}

.description, .nola {
	display: none;
}

h2 {
	font-weight: normal;
	font-size: large;
