body {
}

thead {
	display: none;
}

td:first-child {
	min-width: 5em;
}

td:nth-child(4) {
	display: none;
}

td {
	padding-right: 2em;
}

tr {
	line-height: 2em;
}

table {
	margin-left: 2em;
}

h2 {
	font-weight: normal;
	font-size: x-large;
}